h1 {
  color: white;
  font-family:Ubuntu;
}
h2 {
  color: #4CAF50;
font-family:Ubuntu;
}
h3 {
  color: #4CAF50;
font-family:Ubuntu;
}
h4 {
  color: #4CAF50;
font-family:Ubuntu;
}
h5 {
  color: white;
  font-family:Ubuntu;
}
p {
  color:gray;
  font-size:16px;
  margin:0;
}
form {
  margin-bottom:50px;
}
nav {
  background-color: silver;
  text-align: center;
}
input {
  text-align: center;
}
select {
  text-align: center;
}
.logo {
  font-size: 30px;
  color:white;
  font-family:Sriracha;
}
.container {
  text-align: center;
}
.btn {
  background-color: #4CAF50;
  width:100%;
}
.btn:hover {
  background-color: #4CAF50;
}
.btn:focus {
  background-color: #4CAF50;
}
.section-1 {
  background-color:;
  padding: 30px 0;
}
.section-2 {
  background-color:;
}
.book-card {
  border-radius: 3px;
  background-color: #f2f2f2;
  min-width:80%;
  min-height: 350px;
  max-height: 350px;
  margin:auto;
  margin-bottom:25px;
}
.book-title {
  background-color: silver;
  padding:1px 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.book-title-discussion {
  color: #FFCCBC;
}
.book-image {
  max-height:200px;
  width:auto;
  padding:7px 0;
}
.book-image-discussion {
  max-width: 100%;
}
.book-description {
  padding:7px 0;
}
.book-discuss {
  padding:7px 0;
}
.discuss-btn {
  background-color: #4CAF50;
  width:70%;
}
.all-comments {
margin:0 20%;
}
.comment-title {
  font-size: 30px;
  color: #4CAF50;
}
.commenter {
  font-size: 20px;
  color:#757575;
  text-align: left;
}
.comment-content {
  text-align: left;
}
.comment {
  margin: 15px 0;
  width:100%;
  border:1px solid #f2f2f2;
  padding:10px 10px;
  border-radius:3px;
}
